.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 0.25em;
  margin-top: 5px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #33D69F; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked+label::before {
  background: rgba(51, 214, 159, 0.5);
}

/* .checkbox:not(:disabled):active+label::before {
  background: rgba(51, 214, 159, 0.16);
}

.checkbox:focus:not(:checked)+label::before {
  background: rgba(51, 214, 159, 0.16);
} */

.deleteButton {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 16px;

  width: 20px;
  height: 20px;
  border-radius: 0.25em;
  border: 2px solid rgba(236, 87, 87, 0.80);
  color: rgba(236, 87, 87, 0.80); 
  background-image: url("./../../../public/deleteIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  cursor: pointer;

  transition: 200ms ease;
}

.deleteButton:hover {
  background: rgba(236, 87, 87, 0.10);
}